html {
	font-family: sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	border-bottom: 1px solid rgb(50, 50, 50);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px;
}

.header_logo {
	width: 70px;
	height: 70px;
	background-color: black;
}

.nav_list {
	list-style: none;
	text-decoration: underline;
	display: flex;
	gap: 20px;
}

.nav_list_item {
	cursor: pointer;
}

.header-contacts {
	cursor: pointer;
}
