html {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
}

body * {
	box-sizing: border-box;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

article {
	padding-top: 80px;
	padding-bottom: 120px;
}

.wrapper {
	position: relative;
}

.article-title {
	max-width: 596px;
	margin-bottom: 40px;

	font-family: "Oswald", sans-serif;
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}

.article-title-large {
	font-size: 48px;
}

.article-title-medium {
	font-size: 36px;
}

.article-text {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}

.article-list {
	list-style: none;
}

.article-item::before {
	display: inline-block;

	content: "";
	width: 8px;
	height: 8px;
	background: #3596ed;
	border-radius: 50px;
	margin-right: 6.5px;
}

.article-mb {
	margin-bottom: 80px;
}

.article-img,
.article-video {
	width: 100%;
}

.article-img-wrapper::before {
	content: url("../images/decor.png");
	width: 528px;
	height: 48px;
	position: absolute;
	z-index: -1;
	top: 455px;
	left: -350px;
}

.article-list {
	margin-top: 0;
	padding: 0;
}

.article-item {
	margin-bottom: 12px;
}

.video-wrapper {
	position: relative;
	margin-bottom: 40px;
}

.video-play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 60px;
	height: 60px;

	border-radius: 50%;
	border: none;

	background-color: #3596ed;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0;
}

.article-video {
	object-fit: cover;
}

.article-img-wrapper-1::before {
	content: url("../images/decor.png");
	width: 528px;
	height: 48px;
	position: absolute;
	z-index: -1;
	right: -350px;
	bottom: 197px;
}
